{% extends 'layout.html' %}

{% block content %}
<h1>Spell all words exactly as spelled on ID</h1>
<div class="container">
<div class="row">

<div class=""col-lg-1">
<form class="custom-centered" role = "form"  action="" method="POST" enctype=multipart/form-data>
<input type="file" name="file">
<div class="form-group">
<div><label>First Name<input class="form-control" type="text" name="fname"></label></div>
<div><label>Middle Name<input class="form-control" type="text" name="mname"></label></div>
<div><label>Last Name<input class="form-control" type="text" name="lname"></label></div>
<div><label>street: <input class="form-control" type="text" name="street"></label></div>
<div><label>city: <input class="form-control" type="text" name="city"></label></div>
<div><label>state: <input class="form-control" type="text" name="state"></label></div>
<div><label>zip: <input class="form-control" type="text" name="zip"></label></div>
<div><label>age: <input class="form-control" type="text" name="age"></label></div>
</div>
<input type="submit" value="Upload">
</form>
</div>
</div>
</div>
<p> (This is an open sorce project, the only data logged (check the source code), is
  your email, username, and password.  This verification runs through the USPS and validates address
  validity and might verify age in the future.  Plus I don't have unlimited space like a large social network to save everyone's 10mb photos.  This is just an anti-catfishing countermeasure. </p>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
{% endblock %}
